<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php?uri=$1 [NC,L,QSA]
    options all -indexes
    ErrorDocument 403 /views/errors/403.php
</IfModule>
<files ".htaccess">
    order allow,deny
    deny from all
</files> 